body {
	padding: 0;
	margin: 0;
	border: 0;
  background-color: #577075;
   background: url(../img/landing/AGJ-Landingpage-BG-only.jpg) no-repeat top center; 

    background-repeat: repeat-x;
    background-position: center;
}

.characters-graphics {
  padding: 0;
  margin: 0;
  border: 0;
  margin-left: 0;
  margin-right: 0;
  background: url(../img/landing/AGJ-LandingPage-characters.png); 
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.content {
	width: 600px;
	height: 400px;
    margin: auto;
	margin-top: 32em;
	text-align: center;
	display: block;
}

.content img {
	margin: auto;
}

.counter
{
	    text-align:center;
		width: 60%;
		margin: auto;
		display: block;
}

.counter-row {
       margin: auto;
}


.circle {
	border-radius: 50%;
	width: 100px;
	height: 100px; 
	background-color: #424242;
	opacity: 0.8;
	float:left;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 0.1em;
	text-align: center;
	vertical-align: middle;
    font-weight: bold;
	color: white;
	font-family: Source Sans Pro;
	font-size: 45pt;
}

.counter_description {
	width: 100px;
	float:left;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
    font-weight: lighter;
	color: white;
	font-family: Source Sans Pro;
	font-size: 20pt;
}
.info
{
	    text-align:center;
		width: 100%;
		margin: auto;
		margin-bottom: 1em;
		display: block;
		float: left;
		color: white;
		font-size: 15pt;
}

.hashtag
{
	color: #F7D358;
    font-weight: bold;
	margin-left: 10pt;
	margin-right:10pt;
}
